{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>{% block title %} {% endblock %}</title>
  <style>{% block css %} {% endblock %}</style>  
  <script>
    tailwind.config = {
      theme: {
        extend: {
          screens: {
            'xs': '320px',
            'mobileM': '375px',
            'mobileL': '425px',     
            'tablet': '768px', 
            'lg': '1024px',
            'laptopL': '1440px', 
          },
        }
      }
    }
  </script>
  
</head>
<body>
  <!--Navbar-->
    <nav class="bg-amber-300">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="https://flowbite.com/" class="flex items-center">
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white laptopL:ml-14">BatesApp</span>
        </a>
        <div class="flex md:order-2">
            <button type="button" class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 bg-indigo-400"><a href="{% url 'account' %}">Account</a></button>
            <button data-collapse-toggle="navbar-cta" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-cta" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
              </svg>
          </button>
        </div>

        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
          <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 bg-amber-300">
            <li>
              <a href="{% url 'home' %}" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" aria-current="page">Home</a>
            </li>
            <li>
              <a href="{% url 'discover' %}" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Discover</a>
            </li>
            <li>
              <a href="{% url 'aboutus' %}" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<!--Navbar-->
  {% block content %}
  
  {% endblock %}

<!--Footer-->
<footer class="xs:bg-amber-300 shadow">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
      <div class="sm:flex sm:items-center sm:justify-between">
          <a href="{% url 'home' %}" class="flex items-center mb-4 sm:mb-0">
              <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">BatesApp</span>
          </a>
          <ul class="flex flex-wrap items-center mb-6 text-sm font-medium xs:mb-0 xs:text-white">
              <li>
                  <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
              </li>
              <li>
                  <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
              </li>
              <li>
                  <a href="#" class="mr-4 hover:underline md:mr-6 ">Licensing</a>
              </li>
              <li>
                  <a href="#" class="hover:underline">Contact</a>
              </li>
          </ul>
      </div>
      <hr class="my-6 border-gray-200 border-indigo-400 xs:mx-auto lg:my-8" />
      <span class="block text-sm text-white sm:text-center">© 2023 <a href="{% url 'home' %}" class="hover:underline">BatesApp™</a>. All Rights Reserved.</span>
  </div>
</footer>
<!--Footer-->
</body>
</html>