<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          screens: {
            'xs': '320px',
            'mobileM': '375px',
            'mobileL': '425px',     
            'tablet': '768px', 
            'lg': '1024px',
            'laptopL': '1440px', 
          },
        }
      }
    }
  </script>
</head>
<body class="h-screen bg-amber-300 flex items-center justify-center">
  <div id="login_div" class="bg-indigo-400 p-8 rounded-lg shadow-md xs:p-12 mobileL:p-16 tablet:h-1/2 tablet:w-1/2 lg:h-2/3">
    <h1 class="text-3xl font-bold text-center mb-6 tablet:text-2xl text-white">BatesApp</h1>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {% if error %}
          <p>{{error}}</p>
        {% endif %}
        <div class="mb-6 tablet:mb-16">
            <label for="username" class="block mb-2 text-sm font-medium text-white tablet:text-2xl">Username</label>
            <input type="text" id="username" name="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" placeholder="berktugates" required>
        </div>
        <div class="mb-6 tablet:mb-8">
            <label for="password" class="block mb-2 text-sm font-medium text-white tablet:text-2xl">Your password</label>
            <input type="password" id="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" required>
        </div>
        <div class="flex justify-center">
            <button type="submit" value="Login" class="text-white bg-orange-500 hover:bg-blue-800 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center tablet:w-24 tablet:h-12">Submit</button>
        </div>    
    </form> 
  </div>    
</body>

</html>
